{
  "name": "{{ project_name }}",
  "description": "{{ domain_description }}",
  "version": "0.0.0",
  "author": {
    "name": "{{ github_org }}"
  },
  "homepage": "https://{{ github_org }}.github.io/{{ project_name }}/",
  "repository": "https://github.com/{{ github_org }}/{{ project_name }}",
  "license": "UNLICENSED",
  "keywords": []
}
